@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--base-primary: rgba(255, 255, 255, 1);
	--base-secondary: rgba(110, 110, 110, 1);
	--accent-primary: rgba(255, 0, 27, 1);
	--accent-secondary: rgba(200, 0, 13, 1);
	min-height: 100vh;
}

.theme-light {
	--base-primary: rgba(255, 255, 255, 1);
	--base-secondary: rgba(110, 110, 110, 1);
	--accent-primary: rgba(255, 0, 27, 1);
	--accent-secondary: rgba(200, 0, 13, 1);
}

.theme-dark {
	--base-primary: rgba(110, 110, 110, 1);
	--base-secondary: rgba(255, 255, 255, 1);
	--accent-primary: rgba(255, 0, 27, 1);
	--accent-secondary: rgba(200, 0, 13, 1);
}
